/* Landscape phones and smaller */

@media (max-width: 670px) {
    html {
        font-size: 20px;
    }
    body .wrapper .header .header__wrapper {
        justify-content: center;
    }
    body .wrapper .pizza {
        justify-content: center !important;
    }
    body .wrapper .pizza .pizza__item {
        width: 75%;
        margin: 50px 0;
        .price-section .btn {
            margin-top: 20px;
            display: flex;
            justify-content: center;
            padding: 15px 20px;
            width: 50%;
        }
    }
    body .wrapper .pizza__item .price-section {
        flex-wrap: wrap;
        justify-content: space-around;
        flex-direction: column;
        .pizza-price {
            width: 130px;
        }
    }
    body .pizza-cart .pizza-cart__item .pizza-img {
        flex-direction: column;
    }
    body .pizza-cart .pizza-cart__item .pizza-img .pizza-cart__text {
        margin: 0;
        text-align: center;
    }
    .pizza-cart {
        width: 95%;
    }
    body .cart .cart-header {
        flex-direction: column;
        align-items: center;
    }
    body .buttons div[class^='btn'] {
        svg {
            margin-right: 10px;
        }
    }
    body .conclusion .order p span,
    body .conclusion .amount p span {
        white-space: nowrap;
    }
    body .buttons {
        width: 95%;
        flex-direction: column;
        align-items: center;
        .btn-pay {
            margin-top: 10px;
        }
    }
    body .cart {
        width: 90%;
        margin: 0 auto;
        img {
            width: 70%;
        }
    }
    body .cart .cart-status {
        font-size: 24px;
    }
}
@media (max-width: 450px) {
    body .wrapper .pizza .pizza__item {
        width: 85%;
        margin: 25px 0;
    }
}
@media (max-width: 380px) {
    body .cart .cart-header .cart-header__item {
        margin: 10px 0;
        svg {
            height: 45px;
            width: 45px;
        }
        p {
            font-weight: bold;
        }
    }
}
